### Importação dos dados

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

#1. Análise do faturamento

Análise do faturamento: Loja 1

In [2]:
faturamento_total_loja = round(sum(loja['Preço']), 2)
print(f'Faturamento da Loja 1 = R${faturamento_total_loja}')

Faturamento da Loja 1 = R$1534509.12

Análise do faturamento: Loja 2

In [3]:
faturamento_total_loja2 = round(sum(loja2['Preço']), 2)
print(f'Faturamento da Loja 2 = R${faturamento_total_loja2}')

Faturamento da Loja 2 = R$1488459.06

Análise do faturamento: Loja 3

In [4]:
faturamento_total_loja3 = round(sum(loja3['Preço']), 2)
print(f'Faturamento da Loja 3 = R${faturamento_total_loja3}')

Faturamento da Loja 3 = R$1464025.03

Análise do faturamento: Loja 4

In [5]:
faturamento_total_loja4 = round(sum(loja4['Preço']), 2)
print(f'Faturamento da Loja 4 = R${faturamento_total_loja4}')

Faturamento da Loja 4 = R$1384497.58

# 2. Vendas por Categoria

Vendas por Categoria: Loja 1

In [6]:
categorias_1 = loja['Categoria do Produto']
produtos_1 = loja['Produto']

prod_categoria_1 = list(zip(categorias_1, produtos_1))

vendas_categoria_1 = {}

for categoria, produto in prod_categoria_1:
  if categoria in vendas_categoria_1:
    vendas_categoria_1[categoria] += 1
  else:
    vendas_categoria_1[categoria] = 1

print(f'Vendas por categoria na loja 1: {vendas_categoria_1}')

Vendas por categoria na loja 1: {'eletronicos': 448, 'moveis': 465, 'brinquedos': 324, 'eletrodomesticos': 312, 'utilidades domesticas': 171, 'esporte e lazer': 284, 'livros': 173, 'instrumentos musicais': 182}

Vendas por Categoria: Loja 2

In [7]:
categorias_2 = loja2['Categoria do Produto']
produtos_2 = loja2['Produto']

prod_categoria_2 = list(zip(categorias_2, produtos_2))

vendas_categoria_2 = {}

for categoria, produto in prod_categoria_2:
  if categoria in vendas_categoria_2:
    vendas_categoria_2[categoria] += 1
  else:
    vendas_categoria_2[categoria] = 1

print(f'Vendas por categoria na loja 2: {vendas_categoria_2}')

Vendas por categoria na loja 2: {'moveis': 442, 'instrumentos musicais': 224, 'esporte e lazer': 275, 'eletronicos': 422, 'utilidades domesticas': 181, 'brinquedos': 313, 'eletrodomesticos': 305, 'livros': 197}

Vendas por Categoria: Loja 3

In [8]:
categorias_3 = loja3['Categoria do Produto']
produtos_3 = loja3['Produto']

prod_categoria_3 = list(zip(categorias_3, produtos_3))

vendas_categoria_3 = {}

for categoria, produto in prod_categoria_3:
  if categoria in vendas_categoria_3:
    vendas_categoria_3[categoria] += 1
  else:
    vendas_categoria_3[categoria] = 1

print(f'Vendas por categoria na loja 3: {vendas_categoria_3}')

Vendas por categoria na loja 3: {'eletrodomesticos': 278, 'moveis': 499, 'instrumentos musicais': 177, 'esporte e lazer': 277, 'eletronicos': 451, 'brinquedos': 315, 'utilidades domesticas': 177, 'livros': 185}

Vendas por Categoria: Loja 4

In [9]:
categorias_4 = loja4['Categoria do Produto']
produtos_4 = loja4['Produto']

prod_categoria_4 = list(zip(categorias_4, produtos_4))

vendas_categoria_4 = {}

for categoria, produto in prod_categoria_4:
  if categoria in vendas_categoria_4:
    vendas_categoria_4[categoria] += 1
  else:
    vendas_categoria_4[categoria] = 1

print(f'Vendas por categoria na loja 4: {vendas_categoria_4}')

Vendas por categoria na loja 4: {'eletrodomesticos': 254, 'moveis': 480, 'esporte e lazer': 277, 'livros': 187, 'eletronicos': 451, 'instrumentos musicais': 170, 'brinquedos': 338, 'utilidades domesticas': 201}

# 3. Média de Avaliação das Lojas

Média de Avaliação: Loja 1

In [10]:
media_avaliacao_loja1 = round(sum(loja['Avaliação da compra']) / len(loja['Avaliação da compra']), 2)

print(f'Média de avaliação da loja 1: {media_avaliacao_loja1}')

Média de avaliação da loja 1: 3.98

Média de Avaliação: Loja 2

In [11]:
media_avaliacao_loja2 = round(sum(loja2['Avaliação da compra']) / len(loja2['Avaliação da compra']), 2)

print(f'Média de avaliação da loja : {media_avaliacao_loja2}')

Média de avaliação da loja : 4.04

Média de Avaliação: Loja 3

In [12]:
media_avaliacao_loja3 = round(sum(loja3['Avaliação da compra']) / len(loja3['Avaliação da compra']), 2)

print(f'Média de avaliação da loja 3: {media_avaliacao_loja3}')

Média de avaliação da loja 3: 4.05

Média de Avaliação: Loja 4

In [13]:
media_avaliacao_loja4 = round(sum(loja4['Avaliação da compra']) / len(loja4['Avaliação da compra']), 2)

print(f'Média de avaliação da loja 4: {media_avaliacao_loja4}')

Média de avaliação da loja 4: 4.0

# 4. Produtos Mais e Menos Vendidos

In [44]:
produtos_1 = loja['Produto']

vendas_produto_1 = {}

for produto in produtos_1:
  if produto in vendas_produto_1:
    vendas_produto_1[produto] += 1
  else:
    vendas_produto_1[produto] = 1

print(f'Vendas por produto na loja 1: {vendas_produto_1}')

prod_mais_vendido1 = max(vendas_produto_1, key=vendas_produto_1.get)
prod_menos_vendido1 = min(vendas_produto_1, key=vendas_produto_1.get)

print(f'Produto mais vendido na loja 1: {prod_mais_vendido1}')
print(f'Produto menos vendido na loja 1: {prod_menos_vendido1}')

Vendas por produto na loja 1: {'Assistente virtual': 40, 'Mesa de jantar': 40, 'Jogo de tabuleiro': 43, 'Micro-ondas': 60, 'Cadeira de escritório': 46, 'Blocos de montar': 56, 'Boneca bebê': 40, 'Lava louças': 48, 'Lavadora de roupas': 47, 'Carrinho controle remoto': 52, 'Geladeira': 54, 'Fone de ouvido': 50, 'Panela de pressão': 35, 'Bicicleta': 54, 'Ciência de dados com python': 39, 'Bola de vôlei': 42, 'Xadrez de madeira': 49, 'TV Led UHD 4K': 60, 'Copo térmico': 54, 'Kit banquetas': 44, 'Dashboards com Power BI': 42, 'Faqueiro': 52, 'Jogo de panelas': 43, 'Bateria': 53, 'Corda de pular': 40, 'Fogão': 45, 'Cama box': 44, 'Impressora': 54, 'Cômoda': 56, 'Guarda roupas': 60, 'Dinossauro Rex': 40, 'Guitarra': 47, 'Secadora de roupas': 58, 'Sofá retrátil': 46, 'Tablet ABXY': 42, 'Cubo mágico 8x8': 44, 'Jogo de copos': 41, 'Modelagem preditiva': 51, 'Celular Plus X42': 49, 'Mochila': 39, 'Bola de basquete': 55, 'Headset': 33, 'Poltrona': 41, 'Violão': 46, 'Iniciando em programação': 41, 'Celular ABXY': 33, 'Smartwatch': 43, 'Mesa de centro': 44, 'Cama king': 44, 'Smart TV': 44, 'Pandeiro': 36}
Produto mais vendido na loja 1: Micro-ondas
Produto menos vendido na loja 1: Headset

In [45]:
produtos_2 = loja2['Produto']

vendas_produto_2 = {}

for produto in produtos_2:
  if produto in vendas_produto_2:
    vendas_produto_2[produto] += 1
  else:
    vendas_produto_2[produto] = 1

print(f'Vendas por produto na loja 2: {vendas_produto_2}')

prod_mais_vendido2 = max(vendas_produto_2, key=vendas_produto_2.get)
prod_menos_vendido2 = min(vendas_produto_2, key=vendas_produto_2.get)

print(f'Produto mais vendido na loja 2: {prod_mais_vendido2}')
print(f'Produto menos vendido na loja 2: {prod_menos_vendido2}')

Vendas por produto na loja 2: {'Cadeira de escritório': 49, 'Pandeiro': 58, 'Cama king': 45, 'Violão': 58, 'Mochila': 45, 'Tablet ABXY': 44, 'Panela de pressão': 44, 'Cubo mágico 8x8': 45, 'Secadora de roupas': 57, 'Jogo de tabuleiro': 32, 'Xadrez de madeira': 45, 'Bicicleta': 45, 'Modelagem preditiva': 46, 'Dashboards com Power BI': 43, 'Corda de pular': 50, 'Jogo de copos': 46, 'Boneca bebê': 48, 'Ciência de dados com python': 43, 'Lava louças': 46, 'Blocos de montar': 54, 'Copo térmico': 47, 'Faqueiro': 39, 'Fogão': 42, 'Jogo de panelas': 52, 'TV Led UHD 4K': 45, 'Poltrona': 35, 'Guitarra': 47, 'Headset': 44, 'Dinossauro Rex': 42, 'Smart TV': 40, 'Guarda roupas': 54, 'Geladeira': 49, 'Mesa de centro': 45, 'Lavadora de roupas': 49, 'Bateria': 61, 'Celular ABXY': 41, 'Bola de basquete': 42, 'Mesa de jantar': 34, 'Kit banquetas': 45, 'Cama box': 47, 'Bola de vôlei': 46, 'Assistente virtual': 38, 'Sofá retrátil': 44, 'Carrinho controle remoto': 47, 'Fone de ouvido': 37, 'Micro-ondas': 62, 'Smartwatch': 44, 'Iniciando em programação': 65, 'Cômoda': 44, 'Impressora': 34, 'Celular Plus X42': 55}
Produto mais vendido na loja 2: Iniciando em programação
Produto menos vendido na loja 2: Jogo de tabuleiro

In [46]:
produtos_3 = loja3['Produto']

vendas_produto_3 = {}

for produto in produtos_3:
  if produto in vendas_produto_3:
    vendas_produto_3[produto] += 1
  else:
    vendas_produto_3[produto] = 1

print(f'Vendas por produto na loja 3: {vendas_produto_3}')

prod_mais_vendido3 = max(vendas_produto_1, key=vendas_produto_3.get)
prod_menos_vendido3 = min(vendas_produto_1, key=vendas_produto_3.get)

print(f'Produto mais vendido na loja 3: {prod_mais_vendido3}')
print(f'Produto menos vendido na loja 3: {prod_menos_vendido3}')

Vendas por produto na loja 3: {'Secadora de roupas': 45, 'Cômoda': 55, 'Violão': 47, 'Bola de vôlei': 48, 'Guarda roupas': 49, 'Impressora': 50, 'Carrinho controle remoto': 52, 'Cadeira de escritório': 46, 'Pandeiro': 51, 'Faqueiro': 39, 'Boneca bebê': 39, 'Fone de ouvido': 43, 'Jogo de copos': 36, 'TV Led UHD 4K': 42, 'Panela de pressão': 47, 'Lavadora de roupas': 42, 'Jogo de panelas': 55, 'Dinossauro Rex': 46, 'Modelagem preditiva': 53, 'Mesa de jantar': 56, 'Dashboards com Power BI': 40, 'Kit banquetas': 57, 'Corda de pular': 53, 'Iniciando em programação': 46, 'Bola de basquete': 50, 'Fogão': 53, 'Bicicleta': 52, 'Lava louças': 52, 'Smart TV': 54, 'Mochila': 36, 'Tablet ABXY': 48, 'Mesa de centro': 42, 'Cama box': 46, 'Xadrez de madeira': 47, 'Celular Plus X42': 46, 'Cama king': 56, 'Smartwatch': 46, 'Ciência de dados com python': 46, 'Geladeira': 50, 'Headset': 39, 'Jogo de tabuleiro': 52, 'Bateria': 41, 'Guitarra': 38, 'Sofá retrátil': 45, 'Poltrona': 47, 'Assistente virtual': 39, 'Copo térmico': 38, 'Celular ABXY': 44, 'Micro-ondas': 36, 'Cubo mágico 8x8': 44, 'Blocos de montar': 35}
Produto mais vendido na loja 3: Kit banquetas
Produto menos vendido na loja 3: Blocos de montar

In [47]:
produtos_4 = loja4['Produto']

vendas_produto_4 = {}

for produto in produtos_4:
  if produto in vendas_produto_4:
    vendas_produto_4[produto] += 1
  else:
    vendas_produto_4[produto] = 1

print(f'Vendas por produto na loja 4: {vendas_produto_4}')

prod_mais_vendido4 = max(vendas_produto_4, key=vendas_produto_4.get)
prod_menos_vendido4 = min(vendas_produto_4, key=vendas_produto_4.get)

print(f'Produto mais vendido na loja 4: {prod_mais_vendido4}')
print(f'Produto menos vendido na loja 4: {prod_menos_vendido4}')

Vendas por produto na loja 4: {'Lava louças': 43, 'Cama box': 62, 'Bola de basquete': 50, 'Modelagem preditiva': 50, 'Fone de ouvido': 44, 'Geladeira': 38, 'Guitarra': 33, 'Headset': 42, 'Celular Plus X42': 48, 'Cômoda': 55, 'Boneca bebê': 48, 'Dashboards com Power BI': 56, 'Cadeira de escritório': 40, 'Kit banquetas': 42, 'Impressora': 50, 'Jogo de copos': 46, 'Mesa de jantar': 55, 'Carrinho controle remoto': 55, 'Corda de pular': 43, 'Fogão': 47, 'Cama king': 56, 'Bola de vôlei': 48, 'Secadora de roupas': 40, 'Dinossauro Rex': 47, 'TV Led UHD 4K': 40, 'Copo térmico': 48, 'Smart TV': 54, 'Mesa de centro': 44, 'Tablet ABXY': 45, 'Panela de pressão': 46, 'Bateria': 48, 'Pandeiro': 52, 'Iniciando em programação': 43, 'Jogo de tabuleiro': 48, 'Celular ABXY': 39, 'Faqueiro': 59, 'Guarda roupas': 34, 'Blocos de montar': 54, 'Bicicleta': 45, 'Assistente virtual': 50, 'Jogo de panelas': 50, 'Violão': 37, 'Xadrez de madeira': 39, 'Micro-ondas': 48, 'Smartwatch': 39, 'Mochila': 43, 'Lavadora de roupas': 38, 'Ciência de dados com python': 38, 'Cubo mágico 8x8': 47, 'Poltrona': 45, 'Sofá retrátil': 47}
Produto mais vendido na loja 4: Cama box
Produto menos vendido na loja 4: Guitarra

# 5. Frete Médio por Loja

In [ ]:
frete_medio_loja1 = round(sum(loja['Frete']) / len(loja['Frete']), 2)

print(f'Frete médio da loja 1: R${frete_medio_loja1}')

In [ ]:
frete_medio_loja2 = round(sum(loja2['Frete']) / len(loja2['Frete']), 2)

print(f'Frete médio da loja 2: R${frete_medio_loja2}')

In [ ]:
frete_medio_loja3 = round(sum(loja3['Frete']) / len(loja3['Frete']), 2)

print(f'Frete médio da loja 3: R${frete_medio_loja3}')

In [ ]:
frete_medio_loja4 = round(sum(loja4['Frete']) / len(loja4['Frete']), 2)

print(f'Frete médio da loja 4: R${frete_medio_loja4}')

##Resultados